{% extends "layout.html" %}

{% block title %}Speaking{% endblock %}

{% block content %}
<h1 class="text-center mb-5">ISE Digital: Speaking</h1>
<!-- <p class="text-center">This test evaluates your ability to communicate clearly and effectively in spoken English.</p> 
<p class="text-center">When you're ready, click a button below to begin.</p> -->


<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a href="{{ url_for('tips.show_tips', skill='speaking') }}" class="btn btn-primary btn-lg">Speaking Tips</a>
</div>

<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a href="{{ url_for('speaking.speaking_task_1_q1') }}" class="btn btn-primary btn-lg">1. Responding to questions</a>
</div>

<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a href="{{ url_for('speaking.speaking_task_2') }}" class="btn btn-primary btn-lg">2. Delivering a prepared talk</a>
</div>

<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a href="{{ url_for('speaking.speaking_task_3') }}" class="btn btn-primary btn-lg">3. Interacting</a>
</div>

<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <a href="{{ url_for('speaking.speaking_task_4') }}" class="btn btn-primary btn-lg">4. Summarising a talk or conversation</a>
</div>

{% endblock %}